@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
* { 
  outline: 1px solid red;
  outline-offset: -1px;
} */

body {
  font-family: "VT323", monospace;
  scroll-behavior: smooth;
  color: #FFFFFF;
}

/* code pen */



.heading1 {
  color: #CCCC6C;
}

.heading2 {
  color: #50BE62;
}

.heading3 {
  color: #6164AD;
}

.heading4 {
  color: #CD3838;
}


